@tailwind base;
@tailwind components;
@tailwind utilities;


/** NEXT HAS GOOGLE FONTS PRE INSTALLED **/
@layer base {
  @font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url("/fonts/OpenSans-Light.ttf") format('ttf');
  }

  @font-face {
    font-family: 'OpenSans';
    font-style: italic;
    font-weight: 100;
    font-display: swap;
    src: url("/fonts/OpenSans-LightItalic.ttf") format('ttf');
  }
  @font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/OpenSans-Regular.ttf") format('ttf');
  }
  @font-face {
    font-family: 'OpenSans';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/OpenSans-Italic.ttf") format('ttf');
  }
  @font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("/fonts/OpenSans-Medium.ttf") format('ttf');
  }
  @font-face {
    font-family: 'OpenSans';
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: url("/fonts/OpenSans-MediumItalic.ttf") format('ttf');
  }
  @font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url("/fonts/OpenSans-SemiBold.ttf") format('ttf');
  }
  @font-face {
    font-family: 'OpenSans';
    font-style: italic;
    font-weight: 800;
    font-display: swap;
    src: url("/fonts/OpenSans-SemiBoldItalic.ttf") format('ttf');
  }
  @font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url("/fonts/OpenSans-Bold.ttf") format('ttf');
  }
  @font-face {
    font-family: 'OpenSans';
    font-style: italic;
    font-weight: bolder;
    font-display: swap;
    src: url("/fonts/OpenSans-BoldItalic.ttf") format('ttf');
  }
  @font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: bolder;
    font-display: swap;
    src: url("/fonts/OpenSans-ExtraBold.ttf") format('ttf');
  }
  @font-face {
    font-family: 'OpenSans';
    font-style: italic;
    font-weight: bolder;
    font-display: swap;
    src: url("/fonts/OpenSans-ExtraBoldItalic.ttf") format('ttf');
  }

  .font-OpenSans{

  }
}